# 目录
dist
build
env
public
node_modules

# 根目录配置文件
.prettierignore
.gitignore
.eslintignore
.editorconfig
.npmrc
package.json
postcss.config.js
.prettierrc.js
commitlint.config.js
lint-staged.config.js
README.md
CHANGELOG.md
tsconfig.json
tsconfig.node.json
yarn.lock
