@import "../../theme/vars";
.searchPanel{
  position: fixed;
  z-index: 888;
  padding: 24px;
  transition: all .2s ease-in-out;
  transform-origin: 0 100%;
  background: #fff;
  .inputWrapper {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    i {
      margin-right: 12px;
      cursor: pointer;
    }
  }
  input {
    flex: 1;
    font-size: 24px;
    font-weight: 300;
    border: none;
    outline: none;
    margin:0 12px;
  }
  .results {
    max-height: 80vh;
    margin-top: 12px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .95);
    color: #777;
    transition: all .1s ease-in-out;
  }
  .categories {
    display: flex;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: $main-theme;;
    }
    .category {
      flex: 1;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      color: $color-light-2;
      &.active {
        color: $color-normal;
      }
    }
  }
}

.results {
}

.result {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  img {
    width: 36px;
    height: 36px;
  }
  &:hover{
    cursor: pointer;
    background: $main-theme;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.musicName {
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.musicArtist {
  width: 35%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist {
  height: 56px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.artistName {
  flex: 1;
  margin-left: 18px;
}

.scrollWrapper {
  max-height: calc(80vh - 32px);
  overflow: auto;
}

.empty {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global {
  .search-panel-enter {
    transform: scale(.1);
    width: 0;
    height: 0;
  }
  .search-panel-enter-done {
    transform: scale(1);
    width: 100%;
    height: 100%;
  }
  .search-panel-exit {
    transform: scale(1);
    width: 100%;
    height: 100%;
  }
  .search-panel-exit-active {
    transform: scale(.1);
    width: 0;
    height: 0;
  }

  .results-enter {
    height: 0;
  }
  .results-enter-done {
    height: 80vh;
  }
  .results-exit {
    height: 50vh;
  }
  .results-exit-active {
    height: 0;
  }
}
