@import "../../theme/vars";
.searchPanel{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  transition: all .2s ease-in-out;
  .inputWrapper {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 12px 0 #aaa;
    overflow-x: hidden;

  }
  input {
    flex: 1;
    font-size: 24px;
    font-weight: 300;
    border: none;
    outline: none;
    margin:0 12px;
  }
  .results {
    height: calc(100% - 56px);
    max-height: calc(100% - 56px);
    margin-top: 12px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 4px 12px 0 #aaa;
    color: #777;
  }
  .categories {
    display: flex;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: $main-theme;;
    }
    .category {
      flex: 1;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      color: $color-light-2;
      &.active {
        color: $color-normal;
      }
    }
  }
}

.results {
}

.result {
  padding: 0 24px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.musicName {
  width: 45%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.musicArtist {
  width: 35%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollWrapper {
  max-height: 240px;
  overflow: auto;
}

.empty {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global {
  .search-panel-enter {
    width: 0;
  }
  .search-panel-enter-done {
    width: 60%;
  }
  .search-panel-exit {
    width: 60%;
  }
  .search-panel-exit-active {
    width: 0;
  }
}
