.routeContainer{
	display: flex;
	flex-direction: column;
	height: calc(100% - 48px);
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
  background: linear-gradient(to right, #ffffff 0%, #ffffff calc(35% - 4px), rgb(244, 243, 243) calc(35% - 4px), rgb(244, 243, 243) 100%) padding-box, repeating-linear-gradient(-45deg, #aaa 0, #ccc .25em, white 0, white .75em);
	color: #333;
}
.content {
	flex: 1;
	overflow-y: hidden;
	display: flex;
}


.page {
	flex: 1;
	overflow: hidden;
}

:global {
	.fade-enter {
		opacity: .5;
		transform: translateX(100%);
	}

	.fade-enter-active {
		opacity: 1;
		transform: translateX(0);
		transition: all 300ms;
	}

	.fade-exit {
		opacity: 1;
		transform: translateX(0);
	}

	.fade-exit-active {
		opacity: .5;
		transform: translateX(-100%);
		transition: all 300ms;
	}

  .back-enter {
    opacity: .5;
    transform: translateX(-100%);
  }

  .back-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
  }

  .back-exit {
    opacity: 1;
    transform: translateX(0);
  }

  .back-exit-active {
    opacity: .5;
    transform: translateX(100%);
    transition: all 300ms;
  }
}

