@import '../../theme/vars.scss';

.wrapper{
	width: 100%;
	height: 100%;
	max-height: 100%;
}
.header{
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.td {
		padding: 12px 0;
		border-bottom: 1px solid $color-light-2;
		&:nth-child(1) {
			cursor: pointer;
		}
	}
	input {
		height: 43px;
		font-size: 16px;
		border: none;
		outline: none;
		background: transparent;
		flex: 1;
	}
	i {
		cursor: pointer;
	}
}
.song{
	display: flex;
	padding: 8px 0;
	cursor: pointer;
	justify-content: space-between;
	&.active {
		position: sticky;
		top: 0;
		bottom: 0;
		background: rgb(244, 243, 243);
	}
	span {
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&:nth-child(1) {
			width: 40px;
		}
		&:nth-child(2) {
			width: 200px;
		}
		&:nth-child(3) {
			width: 160px;
		}
		&:nth-child(4) {
			width: 38px;
			text-align: left;
		}
	}
	&:hover{
		background: $main-theme;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.songs{
	height:  calc(100% - 42px);
	overflow-y: scroll;
}
.indicator {
	width: 40px;
	div{
		width: 24px;
		height: 16px;
		background: $main-theme;
		text-align: center;
		color: #ffffff;
		box-shadow: 0 0 4px 0 #7BA3FF;
		i {
			font-size: 13px !important;
		}
	}
}
.empty {
	height:  calc(100% - 42px);
	display: flex;
	align-items: center;
	justify-content: center;
}
