@import "../../theme/vars";
.user{
	height: 100%;
	padding: 8px;
	display: flex;
	.userProfile{
		width: 328px;
		//background: red;
		padding: 8px;
		display: flex;
		flex-direction: column;
		.userAvatar{
			display: flex;
			img{
				width: 160px;
				height: 160px;
				border-radius: 8px;
			}
		}
		.userInfo{
			flex: 1;
			margin-left: 12px;
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: flex-start;
			flex-wrap: wrap;
			> span:nth-child(1) {
				display: flex;
				align-items: center;
			}
			>* {
				align-self: flex-start;
				margin-bottom: 16px;
			}
			img {
				width: 48px;
				height: 16px;
				margin-right: 8px;
			}
			.userLevel{
				padding: 2px 4px;
			  background: rgba(222, 222, 222, .7);
				border-radius: 4px;
				margin-right: 8px;
			}
			.age {
				padding: 2px 4px;
				background: rgba(222, 222, 222, .7);
				margin-right: 8px;
				border-radius: 2px;
			}
			.gender {
				padding: 2px 4px;
				border-radius: 2px;
				background: rgba(222, 222, 222, .7);
				i {
					font-size: 12px !important;
				}
				&.male {
					//background: lightblue;
					color: cornflowerblue;
				}
				&.female {
					//background: pink;
					color: #e0245e;
				}
			}
			.joinTime {
				border-radius: 2px;
				padding: 2px 4px;
				//background: rgba(222, 222, 222, .7);
				font-size: 14px;
			}
		}
		.userNickname{
			background: rgba(0, 0, 0, 1);
			color: white;
			border-radius: 2px;
			flex-grow: 0;
			width: 100%;
			padding: 4px 8px;
			font-size: 20px;
			margin-top: 48px;
		}
		.userSocialInfo{
			display: flex;
			width: 120px;
			justify-content: space-between;
		}
		.userSignature{
			width: 100%;
			font-size: 16px;
			margin: 12px 0 0;
			color: $color-light;
		}
	}
	.userListHeader{
		display: flex;
		align-items: center;
		padding: 8px 0;
		margin-bottom: 12px;
		//background: linear-gradient(to right, #ffffff 0%, #ffffff calc(40% - 5px), rgb(244, 243, 243) calc(40% - 5px), rgb(244, 243, 243) 100%);
		position: sticky;
		top: 0;
		span {
			margin: 0 12px;
			padding: 0 0 12px 0;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			transition: all .3s ease;
			&.active {
				border-bottom-color: #aaa;
			}
		}
	}
	.userPlaylists{
		flex: 1;
		margin: 0 12px 12px;
		overflow-y: hidden;
		display: flex;
		flex-direction: column;
	}
	.userList{
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		overflow-y: auto;
		.userListItem:nth-child(6n) {
			margin-right: 0;
		}
	}
	.userListItem{
		width: 150px;
		height: 170px;
		margin-bottom: 24px;
		text-align: left;
		cursor: pointer;
		flex-shrink: 0;
		div {
			font-size: 12px;
			color: #aaa;
		}
		.userListItemName {
			font-size: 14px;
			white-space: nowrap;
			color: #434343;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		img{
			width: 150px;
			height: 150px;
		}
	}
}
