@import "../../theme/vars";
.user{
	height: 100%;
	padding: 8px;
	display: flex;
	.userProfile{
		width: 328px;
		//background: red;
		padding: 8px;
		display: flex;
		flex-direction: column;
		.userAvatar{
			display: flex;
			img{
				width: 160px;
				height: 160px;
				border-radius: 8px;
			}
		}
		.userInfo{
			flex: 1;
			margin-left: 12px;
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			flex-wrap: wrap;
			img {
				width: 48px;
				height: 16px;
			}
			.userLevel{
				padding: 2px 4px;
			  background: rgba(222, 222, 222, .7);
				border-radius: 4px;
				margin-right: 8px;
			}
			.gender {
				padding: 2px 4px;
				border-radius: 2px;
				i {
					font-size: 12px !important;
				}
				&.male {
					background: lightblue;
					color: cornflowerblue;
				}
				&.female {
					background: pink;
					color: #e0245e;
				}
			}
		}
		.userNickname{
			background: rgba(0, 0, 0, 1);
			color: white;
			border-radius: 2px;
			flex-grow: 0;
			width: 100%;
			padding: 4px 8px;
			font-size: 20px;
			margin-top: 48px;
		}
		.userSocialInfo{
			display: flex;
			width: 120px;
			justify-content: space-between;
		}
		.userSignature{
			width: 100%;
			font-size: 16px;
			margin: 48px 0 0;
			color: $color-light;
		}
	}
	.userListHeader{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		margin-bottom: 12px;
		background: linear-gradient(to right, #ffffff 0%, #ffffff calc(40% - 5px), rgb(244, 243, 243) calc(40% - 5px), rgb(244, 243, 243) 100%);
		position: sticky;
		top: 0;
	}
	.userPlaylists{
		flex: 1;
		overflow: auto;
		margin: 12px 0;
	}
	.userList{
		display: flex;
		flex-wrap: wrap;
		.userListItem:nth-child(6n) {
			margin-right: 0;
		}
	}
	.userListItem{
		width: 140px;
		height: 140px;
		margin-bottom: 24px;
		margin-right: 12px;
		text-align: left;
		cursor: pointer;
		flex-shrink: 0;
		img{
			width: 140px;
			height: 140px;
		}
	}
}