@import '../../theme/vars';
.wrapper{
	height: 75vh;
	box-sizing: border-box;
	font-size: 12px;
	text-align: left;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	.songInfo{
		//text-align: center;
		h1{
			margin-bottom: 8px;
		}
	}
}
.lyric{
	margin-top: 24px;
	flex: 1;
	//text-align: center;
	box-sizing: border-box;
	overflow-y: scroll;
}
.empty {
	flex: 1;
	display: flex;
	align-items: center;
}
.scroller{
	padding: 0 0 12px 0;
	list-style: none;
	.scrollItem{
		list-style: none;
		// overflow: hidden;
		//white-space: nowrap;
		color: $color-light-1;
		margin: 12px 0;
	}
	.active{
		background: $main-theme-purple;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.lyricRow,.tlyricRow{
	line-height: 24px;
	font-size: 16px;
	white-space: normal;
}
.tlyricRow{
	line-height: 20px;
	font-size: 12px;
}
