@import "./asset/icon/iconfont.css";

html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
}
.app {
  height: 100vh;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
}

a {
  color: #434343;
  text-decoration: none;
}